# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print(number)

6

##### Assinging float

In [1]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 2.5
print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

# Shorthand version.
result += 1
print(result)

7.4
8.4

##### Subtraction

In [11]:
result_diff = 5 - 2
print(result_diff)

#Shorthand version.
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

#Shorthand version.
result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [14]:
result_div = num2/num1
print(result_div)

#Shorthand version.
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

#Shorthand version.
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 100 % 30
print(result_mod)

#Shorthand version.
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [24]:
square = 5 ** 2
print(square)

#Shorthand version.
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [49]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [52]:
print("This is my first name:", name)
print("Full name:", name, end=" Apol")

This is my first name: Brandon
Full name: Brandon Apol

##### String Concatenation

In [33]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name

# Shorthand version.
full_name += " Jr"
print(full_name)

John Smith Jr

##### Type Conversion

In [44]:
number = "32"
change_type_num = int(number)
change_type_num =+ 5
print(change_type_num)
print(number)

5
32

##### input()

In [45]:
# Input() will always return a string all the time.
name = input("What is your name? ")
print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

What is your name?  Shirali

Shirali

How old are you?  29

30

##### format()

In [53]:
age = input("What is your age? ")
name = input("What is your name? ")
result_string = "You are {}, you are {} years old and you are getting wiser!".format(age, name)
print(result_string)
result_again = f"{age} is a great time in life!"
print(result_again)

What is your age?  29
What is your name?  Shirali

You are 29, you are Shirali years old and you are getting wiser!
29 is a great time in life!

##### Old Way (python 2)

In [54]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 29 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [57]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What is the production your of your car? ")
make = input("What is the make of your car? ")
model = input("What model is your car? ")
car = f"{name} owns a {color} {year} {make} {model}."
print(car)

What is your name?  Shirali
What color is your car?  white
What is the production your of your car?  2019
What is the make of your car?  Toyota
What model is your car?  RAV4

Shirali owns a white 2019 Toyota RAV4.

### If Statements

In [66]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

# If (thing that is true or false) is true:
    #Do this stuff.
# This part will happen anyway.
num1 = 5
num2 = 5
if num1 == num2:
    print("Equal values.")
else:
    print("Not equal values.")

if num2 > num1:
    print("Num2 is greater than.")
elif num2 < num1:
    print("Num2 is less than.")
else:
    print("They're the same.")

Equal values.
They're the same.

##### 'is' keyword

In [67]:
# Use "is" when checking for same or similar object, not the same value.

num3 = 55
num4 = num3

if num3 is num4:
    print("This is the same type or similar object.")

This is the same type or similar object.

##### 'in' keyword

In [69]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [72]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE.")

a is NOT HERE.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [75]:
name = input("What is your name? ").lower()
if 'p' not in name:
    print("'p' is not in your name.")
else:
    print("'p' is in your name.")

What is your name?  Polly

'p' is not in your name.

## Using 'and'/'or' with If Statements

In [80]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = "Max"
age = 10

if first_name == "Max" and age == 10:
    print("I am Max and I am 10.")
elif first_name != "Max" or age == 10:
    print("I am either Max or I am 10.")

I am Max and I am 10.

### Elif Statements

In [ ]:
# See above.

### Else Statements

In [ ]:
# See above.

### For Loops

In [100]:
# For item in iterable_thing:
    # Do some stuff.
name = "Shirali Patel"

for letter in name:
    print(letter)
for letter in range(10):
    print(name)
for letter in range(10):
    print(letter)
for letter in range(len(name)):
    print(letter)

S
h
i
r
a
l
i

P
a
t
e
l
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
Shirali Patel
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12

##### Using 'in' keyword

In [ ]:
# See above.

##### Continue Statement

In [101]:
# Will continue to next iteration.

for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# Will break out of current loop.

for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# Mostly used as a placeholder, and will continue on same iteration.

for i in name:
    pass

# I will come back and finish this part of my code later.

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

### While Loops

In [121]:
# While condition statement (something that is true or false):
    # Do stuff repeatedly.
num = 0
while num < 10:
    print(num)
    num += 1

num = 1
while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_running = True
score = 0
while game_running:
    user_input = input("Say some stuff.")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    for i in range(2):
        print("For loop iteration: " + str)i))

### Built-In Functions

##### range()

In [ ]:
# Range(start, stop, and step)
# Defaults: start = 0, stop is required, step = 1

for i in range(20):
    print(i)

##### len()

In [127]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [128]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

#### isinstance()

In [130]:
print(isinstance(4.5, int))
if isinstance(4.5, float):
    print("This number is a float.")

False
This number is a float.

##### abs()

In [132]:
# /5/

print(abs(-5))

5

### Try and Except

In [136]:
# Use this whenever you expect to encounter a bug so that the error doesn't cuase the program to stop.
# Use this to log out graceful and informatve error messages.

try:
    number_test = 0
    input_num = int(input("Guess a number."))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work. - ERROR: Please change your input to your number.")

Guess a number. spaghetti

That did not work - ERROR: Please change your input to your number.

### Lists

##### Declaring Lists

In [143]:
# Empty list.

my_list = []

names = ['Max', 'Cindy', 'Kathy', 5, 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [145]:
# Syntax list_name(start:stop:stop)

# Single index.
print(names[0])

# Print the last value NO MATTER THE SIZE of the list.
print(names[-1])

# Print starting at 1 going to the end.
print(names[1:])

# Print starting at the beginning of the list until whatever index we give it.
print(names[:3])

# Print from one index to another.
print(names[2:4])

# Print starting at index 1 going up by 2 for each iteration.
print(names[1::2])

# Print starting at the end and going down by 1 each time.
print(names[::-1])

Max
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [146]:
names.append('Bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'Bob']

##### .insert()

In [147]:
names.insert(3, 'Gabby')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'Bob']

##### .pop()

In [150]:
# Default is the last value if no parameter is given.
# Pop returns the element that was removed in case you want to assign it into a variable.

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 5, 'Nate', 'Bob']


##### .remove()

In [151]:
# Value to be removed, not the index.

names.remove('Bob')
print(names)

# Remove multiple 'Bob's from the list.
while 'Bob' in names:
    names.remove('Bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### del()

In [153]:
# Be careful, it can cause indexing errors if used properly.
# Remove by index.

del(names[1])
print(names)

['Max', 'Kathy', 5, 'Nate']

##### Concatenating Two Lists

In [148]:
first_list = [0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [154]:
names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [156]:
# Two ways to loop through a list, one is by index and the other is by using the 'in' keyword.

# With a for loop using the index.
for i in range(len(names)):
    print(names[i])

# Loop with a for loop and in.
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [115]:
num = 0
while num < 11:
    print(num**3)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [138]:
# HINT:
# An else after an if runs if the if didn’t.
# An else after a for runs if the for didn’t break.

def prime(num):
    if num < 2:
        return 0
    else:
        x = num // 2
        for j in range(2, x + 1):
            if num % j == 0:
                return 0
    return 1
a, b = 1, 100
for i in range(a, b + 1):
    if prime(i):
        print(i, end =" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [142]:
age = int(input("Please enter your age: "))
if age <= 18: print("Kids.")
elif age <= 65: print("Adults.")
else: print("Seniors.")

Please enter your age:  66

Seniors.